@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* body */
.containers {
    width: 100%;
}

#navigation-bar.scrolled {
    background-color: wheat;
    /* Change this to the desired color when scrolled */
    transition: background-color 0.3s ease-in-out;
}

#navigation-bar.scrolled .navbar-brand .navbar-nav .nav-item>.nav-link {
    color: rgb(255, 255, 255);
    /* Change this to the desired text color when scrolled */
    background-color: white;
}

/* .hero-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid; */
/* height: 500px; */
/* } */

.hero-intro-inn {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
}

.heroimg-coding {
    /* width: 500px; */
    width: 50%;
    flex-wrap: wrap;
    border-radius: 40px;
    /* mix-blend-mode: multiply; */
    /* position: absolute; */

}

.intro-home-only {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 50%;
    justify-content: center;
    /* border: 1px solid; */
}

.intro-home-only>h1 {
    text-align: left;
    font-size: 65px;
    font-weight: bold;
}

.intro-home-only>.self-left {
    align-self: flex-start;
    font-size: 25px;
    margin: 0;
    padding: 0%;
}

/* navigation bar */

#navigation-bar {
    /* height: 70px; */
    background-color: white;
    transition: background-color 0.3s ease;
}

.navbar.stic {
    position: fixed;
    top: 0;
    /* width: 100%; */
    background-color: #fc8621;
    /* Change this to your desired background color */
}


/* end nav */

.hero-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    /* border: 1px solid; */
}

.about-card {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about-card-inn {
    width: 75%;
    /* display: flex; */
    /* align-items: center; */
    /* border: 1px solid; */
    /* justify-content: space-between; */
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    background-color: rgba(128, 128, 128, 0.066);
    border-radius: 8px;
    margin: 2% 0%;
}

.prof-details {
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    /* flex-basis: 45%; */
    gap: 2%;
    flex-wrap: wrap;
    justify-content: center;
}

.prof-img {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.about-me-text>a {
    display: flex;
    text-decoration: none;
    color: white;
    align-self: flex-start;
}

.prof-details>img {
    width: 65%;
}

#nav-dnld-btn {
    display: flex;
    color: white;
}

#nav-downl {
    text-decoration: none;
}

.prof-inn-details-e-p-l {
    /* border: 1px solid; */
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* width: 60%; */
    /* flex-basis: 55%; */
    justify-content: center;
}

.prof-inn-details-e-p-l>p>span {
    font-weight: bold;
    font-size: 20px;
}

.prof-inn-details-e-p-l>p {
    font-size: 18px;
}

.about-me-text {
    /* width: 50%; */
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid red; */
    /* height: 250px; */
    gap: 20px;
}

.about-me-text>button {
    align-self: flex-end;
    padding: 2% 2%;
    border-radius: 8px;
    border: none;
    color: white;
    width: 30%;
}

.about-me-text>p {
    font-size: 16px;
    color: grey;
}

.social-links {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 4%;
    /* border: 1px solid; */

}

.link-social {
    /* border: 2px solid; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}

.link-social:hover {
    width: 100%;
}

.link-social>img {
    width: 38px;
    border-radius: 50%;
}

.l-btns>a:nth-child(1) {
    margin-right: 5%;
}

.skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 2%; */
}

.skills-inn {
    display: grid;
    width: 75%;
    /* align-items: center; */
    /* justify-content: start; */
    grid-template-columns: repeat(9, 1fr);
    gap: 2%;
    padding: 2%;
    row-gap: 18px;
}

.skill-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 120px;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 15px;
    /* position: absolute; */
    transition: transform 0.3s ease-out;
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #17a2b8;
}

.skill-card>img {
    width: 50%;
}

.project-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-size-inn {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    padding: 1%;
}

#carousel-of-project {
    width: 75%;
}

.techstackscard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.techstackscard>img {
    width: 7%;
}

.card-body {
    overflow: hidden;
}

.card-body {
    padding: 0%;
    margin: 0%;
    /* border: 1px solid; */
}

.techstackscard>img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.worked-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.work-d {
    width: 80%;
    margin-top: 2%;
    padding: 2%;
    background-color: #17a3b897;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.work-d>img {
    width: 100%;
}

.calander-stats {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.stats-card-inn {
    width: 80%;
    margin: 2%;
    /* border: 1px solid; */
    /* padding: 2%; */
}

.stats-1 {
    display: flex;
    /* flex-direction: column; */
}

.stats-1>img {
    height: 200px;
    /* width: 30%; */
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.contact-card {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding: 2%;
    /* align-items: center;
    justify-content: space-evenly; */
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0%;
    gap: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact-item>* {
    margin: 0;
    padding: 0;
}

.contact-item>p {
    font-size: 20px;
    font-weight: bold;
}

.contact-item>img {
    width: 70px;
}

.contact-item>a {
    text-decoration: none;
    color: grey;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    padding: 2%;
    width: 100%;
}

input[type=text],
select,
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #17a2b8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #1bb9d2;
}

/* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

form {
    width: 75%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

#foot {
    height: 50px;
    background-color: wheat;
    display: flex;
    color: white;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    color: black;
}


#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 1%;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    /* background-color: #28a74644; */
    opacity: 0.5;
}

.card {
    position: relative;
    overflow: hidden;
}

.card:hover img {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

/* Responsive part */


@media all and (max-width: 1300px) {
    #stats-1-id {
        /* grid-template-columns: repeat(1, 1fr); */
        flex-direction: column;
    }

    .intro-home-only>h1 {
        font-size: 55px;
    }

    .skills-inn {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media all and (min-width: 630px) and (max-width: 990px) {
    .nav-bottom {
        width: 90%;
    }

    .hero-intro>.hero-intro-inn {
        width: 90%;
    }

    .intro-home-only>h1 {
        font-size: 45px;
    }

    .about-card-inn {
        width: 90%;
    }

    .prof-details>img {
        width: 70%
    }

    .skills-inn {
        width: 90%;
        grid-template-columns: repeat(5, 1fr);
        /* border: 1px solid; */
    }

    #carousel-of-project {
        width: 90%;
    }

    .work-d {
        width: 90%;
        padding: 2%;
    }

    .contact-card {
        width: 90%;
        /* grid-template-columns: 2; */
    }
}

@media all and (max-width: 865px) {
    .about-card-inn {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    .prof-details>img {
        width: 75%;
    }

    .intro-home-only>h1 {
        font-size: 40px;
    }

    .hero-intro-inn {
        flex-direction: column;
        width: 95%;
    }

    .hero-intro-inn>div {
        width: 90%;
    }

    .hero-intro-inn>img {
        width: 80%;
    }
}

@media all and (max-width: 629px) {
    .skills-inn {
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
    }

    .intro-home-only>h1 {
        font-size: 45px;
        font-weight: bold;
    }

    #carousel-of-project {
        width: 90%;
    }

    .work-d {
        width: 90%;
        /* background-color: skyblue; */
    }

    .contact-card {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}

* {
    transition: width 0.2s ease;
}

@media all and (max-width: 430px) {
    .skills-inn {
        /* width: 90%; */
        grid-template-columns: repeat(3, 1fr);
    }

    .intro-home-only>h1 {
        font-size: 40px;
        font-weight: bold;
    }

    #scrollToTopBtn {
        padding: 3%;
    }
}

@media all and (max-width: 325px) {
    .contact-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-inn {
        grid-template-columns: repeat(2, 1fr);
    }

    .intro-home-only>h1 {
        font-size: 30px;
        font-weight: bold;
    }
}

.heading-all {
    color: #17a2b8;
}