* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

/* body */
.container {
    width: 100%;
}

.hero-intro {
    display: flex;
    background-color: gold;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    border: 1px solid;
}

.about-card {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about-card-inn {
    width: 70%;
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: space-between;
    padding: 3%;
}

.prof-details {
    display: flex;
    align-items: center;
    border: 1px solid green;
    width: 45%;
    gap: 3%;
    justify-content: space-between;
}

.prof-img>img{
    width: 250px;
}
.prof-inn-details-e-p-l{
    border: 1px solid;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.prof-inn-details-e-p-l>p>span{
    font-weight: bold;
    font-size: 22px;
}
.prof-inn-details-e-p-l>p{
    font-size: 20px;
}

.about-me-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    height: 250px;
    gap: 20px;
}
.about-me-text>p{
    font-size: 18px;
}
.social-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */

}
.link-social{
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}
.link-social:hover{
    width: 100%;
}
.link-social>img{
    width: 38px;
    border-radius: 50%;
}
